# Ignore dataset files
/data/*.csv
/data/*.npy

# Ignore models and large binaries
/models/*
*.h5
*.pth
*.pkl

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
env/

# Ignore logs and temp files
logs/
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore secrets or config files
config/secrets.json